# Functions

Let's write a function which get input as a string and return it lowercase format

In [6]:
def lower_case(word):
    """
    covert the word to lower case (here is the documentation)
    """
    lower_word = word.lower()
    return lower_word

In [7]:
words = ["LIFE","Heart","NaBeR"]

The function has no print command so, when we call the function there will be nothing in the console.

In [8]:
for word in words:
    lower_case(word) #we called function

But below, we used print() which is pre-defined function and we showed the results.

In [19]:
for word in words:
    print(lower_case(word)) #we called function

life
heart
naber

In [14]:
def convert_string(list):
    str_list = []
    for item in list:
        item = str(item)
        str_list.append(item)
    print(str_list)

In [17]:
numbers = [1,2,3,4]
print(type(numbers[0]))
convert_string(numbers)
print(type(numbers[0]))

<class 'int'>
['1', '2', '3', '4']
<class 'int'>

In [10]:
help(lower_case)

Help on function lower_case in module __main__:

lower_case(word)
    covert the word to lower case (here is the documentation)

We can use if, else in functions and we can use more than one return command.

In [34]:
def fibonacci(n): # n is the index. For example, in fibonacci series "2" is the element which its index is 3. 0 1 1 2 3 5 ....
    if n == 0 or n == 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [35]:
print(fibonacci(3))

2

#### Global Variables

In [42]:
def mul(x,y):
    global x_  #there is an underscore
    x = 5
    return x*y

mul(x,2)

10

In [43]:
mul(4,2)

10

#### Default Values
If you want use default parameter you should consider that the orders of parameters. First, you should write non-default parameters then, default parameters.

In [62]:
def divide(y,x=100): 
    res = x / y
    return res
divide(2)

50.0

##### We can declare a variable outside of the function and we can use it inside of the function or everywhere of the program bacause it is a global variable.

In [4]:
word = "how are you?"
def function():
    return "Hello,  " + word

function()

'Hello,  how are you?'

##### But if there is a same variable inside of the function which is called local variable, it has priority.

In [8]:
word = "how are you?"
def function():
    word = "what's up?"
    return "Hello, " + word

function()

"Hello, what's up?"

###### If we do not know the number of parameters we can use *args for packed all parameters in tuple.

In [9]:
def total(*args):
    return sum(args)

In [11]:
total(1,2,2,5)

10

In [12]:
total(2,3)

5

In [15]:
def total(*args):
    return args

In [16]:
total(1,2,2,5)

(1, 2, 2, 5)

In [17]:
type(total(1,2,2,5))

tuple

Also, we can packed all parameters in dicitonaries.

In [22]:
def dictionaries(**args):
    return args

In [26]:
dictionaries(Age = 23, Name = "Jane")

{'Age': 23, 'Name': 'Jane'}

In [27]:
type(dictionaries(Age = 23, Name = "Jane"))

dict

#### There is not necessary always return command

In [45]:
def add_function(list1,list2):
    list1.append(list2)

In [46]:
list1 = ["life", "is"]
list2 = ["beautiful"]
add_function(list1,list2)

In [47]:
list1

['life', 'is', ['beautiful']]