# **Tuples**

In [12]:
tuple1 = (1,2,3,4,5,6,7,8)

In [13]:
tuple1[-2:]

(7, 8)

In [14]:
tuple1[::2]

(1, 3, 5, 7)

In [15]:
tuple1[4:]

(5, 6, 7, 8)

In [16]:
tuple1[4::2]

(5, 7)

In [17]:
tuple1[:8:2]

(1, 3, 5, 7)

#### ATTENTION
Items can not changed in tuples because tuples are immutable. We can add item or we can't delete item.

In [18]:
tuple2 = (3,6,13,7,2,1,5,7)

In [19]:
sorted(tuple2)

[1, 2, 3, 5, 6, 7, 7, 13]

#### Adding an item to tuple

In [20]:
#Now, we will add tuple1 to tuple2.
new_tuple = tuple2 + tuple1
new_tuple

(3, 6, 13, 7, 2, 1, 5, 7, 1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
tuple1 + tuple2 #the order that in here is important

(1, 2, 3, 4, 5, 6, 7, 8, 3, 6, 13, 7, 2, 1, 5, 7)

### ATTENTION
You can only concatenate tuple to tuple so, below code will not work.

In [22]:
new_tuple + "busra"

TypeError: can only concatenate tuple (not "str") to tuple

# Lists

In [23]:
list1 = [1,2,6,75,4,3]

### Differences between extend and append method

In [24]:
list1.append(["love", "friend"])
list1

[1, 2, 6, 75, 4, 3, ['love', 'friend']]

In [25]:
list1.extend(["pc", "mouse"])
list1

[1, 2, 6, 75, 4, 3, ['love', 'friend'], 'pc', 'mouse']

### ATTENTION
Lists are mutable, we can change them

In [26]:
del(list1[0]) #it will delete the elements that has index 0
list1

[2, 6, 75, 4, 3, ['love', 'friend'], 'pc', 'mouse']

In [27]:
"hard rock".split() #split(",")...

['hard', 'rock']

### Copy of the list
If we change something in list, B will not change.

In [28]:
B = list1[:] #

In [29]:
list1[0] = "new"

In [30]:
list1

['new', 6, 75, 4, 3, ['love', 'friend'], 'pc', 'mouse']

In [31]:
B

[2, 6, 75, 4, 3, ['love', 'friend'], 'pc', 'mouse']

# Sets

Sets have unique values. There will be not repetitive items when actual set is created.

In [32]:
Set = {"a","c",1,"d","a"}
Set

{1, 'a', 'c', 'd'}

We can convert list to set with set() function.

In [33]:
lisToSet1 = ["a","e",2,"3"]

In [34]:
set1 = set(lisToSet1)
set1

{2, '3', 'a', 'e'}

### ATTENTION
If a list contains another list as a element in itself, it could not conver to set. When you try below code, you will get an error message. Don't worry. :)

In [35]:
lisToSet2 = ["a","e",2,"3",["c",1]]
set2 = set(lisToSet2)

TypeError: unhashable type: 'list'

We can add items to set with add method and delete them with remove method.

In [36]:
set1.add("love yourself")
set1

{2, '3', 'a', 'e', 'love yourself'}

In [37]:
set1.remove("love yourself")
set1

{2, '3', 'a', 'e'}

We can check the items using "in"

In [38]:
"love yourself" in set1

False

In [39]:
"2" in set1

False

In [40]:
2 in set1 
#you should pay attention to "2" and 2 are different items. 
#One of them is integer and the other one is string. In our case, set1 has the string one.

True

In [41]:
set1.remove(set1[0]) #set does not supoort indexing!!!!!!!!! you will get an error message.

TypeError: 'set' object is not subscriptable

#### Intersection, Difference and Union
When we apply the intersection operation to two sets, all the items are that not in both sets disappear.

In [42]:
fruits1 = {"pineapple", "lemon","watermelon","cherry"}
fruits2 = {"apple","cherry","strawberry","lemon"}

In [43]:
#intersection of sets
intsec_fruits = fruits1 & fruits2
intsec_fruits

{'cherry', 'lemon'}

Also, we can use intersection method.

In [44]:
fruits1.intersection(fruits2)

{'cherry', 'lemon'}

In [45]:
fruits2.intersection(fruits1)

{'cherry', 'lemon'}

In [46]:
#difference of sets
fruits1.difference(fruits2)

{'pineapple', 'watermelon'}

In [47]:
fruits2.difference(fruits1)

{'apple', 'strawberry'}

In [48]:
#union of sets
fruits1.union(fruits2)

{'apple', 'cherry', 'lemon', 'pineapple', 'strawberry', 'watermelon'}

We can check that a set is a subset of a different set.

In [49]:
fruits3= {"cherry","apple"}

In [50]:
fruits3.issubset(fruits1)

False

In [51]:
fruits3.issubset(fruits2)

True

We can check that a set is superset of a different set. If a set covers all elements an other set, it is called superset.

In [52]:
fruits2.issuperset(fruits3)

True

# Dictionaries

In [150]:
Dict1 = {"key1":1, "key2":2, "key3":"string","key4":(1,2,3), "key5":[1,2,3]}
Dict1

{'key1': 1, 'key2': 2, 'key3': 'string', 'key4': (1, 2, 3), 'key5': [1, 2, 3]}

The keys can be integer or string or immutable object like tuple.

In [151]:
Dict2 = {1:"integer","2":"string",(3,4):"tuple",("5"):"again tuple"}
Dict2

{1: 'integer', '2': 'string', (3, 4): 'tuple', '5': 'again tuple'}

Access the value by key

In [152]:
Dict1["key1"]

1

Also, we can use get() funciton to access value by key

In [153]:
Dict1.get("key1")

1

In [154]:
komtas = {"Büşra":["Data Engineer", 23, "Eskişehir"],\
          "Anıl":["Data Scientist",23,"Eskişehir"],\
          "Mutlu":["Data Engineer",24,"İstanbul"],\
          "Sibel":["Data Engineer",26,"Eskişehir"]}

In [155]:
komtas

{'Büşra': ['Data Engineer', 23, 'Eskişehir'],
 'Anıl': ['Data Scientist', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir']}

We can get all keys with keys() funciton

In [156]:
komtas.keys()

dict_keys(['Büşra', 'Anıl', 'Mutlu', 'Sibel'])

In [157]:
type(komtas.keys())

dict_keys

In [158]:
a = komtas.keys() #It's not a list.
a[0]

TypeError: 'dict_keys' object is not subscriptable

In [159]:
for i in komtas.keys():  #we can acces key directly but we can use loop and maybe we can add them to a list.
    print(i)

Büşra
Anıl
Mutlu
Sibel

We can get values with values() method.

In [160]:
komtas.values()

dict_values([['Data Engineer', 23, 'Eskişehir'], ['Data Scientist', 23, 'Eskişehir'], ['Data Engineer', 24, 'İstanbul'], ['Data Engineer', 26, 'Eskişehir']])

In [161]:
for i in komtas.values(): #we can acces values directly but we can use loop and maybe we can add them to a list.
    print(i)

['Data Engineer', 23, 'Eskişehir']
['Data Scientist', 23, 'Eskişehir']
['Data Engineer', 24, 'İstanbul']
['Data Engineer', 26, 'Eskişehir']

### Add something to dictionary

In [162]:
komtas.keys()

dict_keys(['Büşra', 'Anıl', 'Mutlu', 'Sibel'])

In [163]:
komtas["İlkay"] = ["Data Engineer",23,"Eskişehir"]

In [164]:
komtas

{'Büşra': ['Data Engineer', 23, 'Eskişehir'],
 'Anıl': ['Data Scientist', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir'],
 'İlkay': ['Data Engineer', 23, 'Eskişehir']}

In [165]:
komtas["Göksu"] = "Data Scientist"

In [166]:
komtas

{'Büşra': ['Data Engineer', 23, 'Eskişehir'],
 'Anıl': ['Data Scientist', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir'],
 'İlkay': ['Data Engineer', 23, 'Eskişehir'],
 'Göksu': 'Data Scientist'}

In [167]:
komtas["Büşra"] = "Data Engineer"

In [168]:
komtas

{'Büşra': 'Data Engineer',
 'Anıl': ['Data Scientist', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir'],
 'İlkay': ['Data Engineer', 23, 'Eskişehir'],
 'Göksu': 'Data Scientist'}

In [169]:
komtas["Anıl"]

['Data Scientist', 23, 'Eskişehir']

In [170]:
komtas["Anıl"][0] = "Data Engineer"

In [171]:
komtas

{'Büşra': 'Data Engineer',
 'Anıl': ['Data Engineer', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir'],
 'İlkay': ['Data Engineer', 23, 'Eskişehir'],
 'Göksu': 'Data Scientist'}

### Delete something in dictionary

In [172]:
del(komtas["Büşra"]) # del("Büşra") doesn't work!!!!!!!!!!!!!!!!!!

In [173]:
komtas

{'Anıl': ['Data Engineer', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir'],
 'İlkay': ['Data Engineer', 23, 'Eskişehir'],
 'Göksu': 'Data Scientist'}

We can use pop() method to delete itemss but it's a little bit different. you can see below the difference between del and pop.

In [174]:
komtas.pop("Göksu") #komtas.pop(komtas["Göksu"]) doesn't work!!!!!!!!!!!!!!!!!!!11

'Data Scientist'

pop() method's output is the deleted element.

In [175]:
komtas

{'Anıl': ['Data Engineer', 23, 'Eskişehir'],
 'Mutlu': ['Data Engineer', 24, 'İstanbul'],
 'Sibel': ['Data Engineer', 26, 'Eskişehir'],
 'İlkay': ['Data Engineer', 23, 'Eskişehir']}

In [176]:
values_list = [i for i in values]
values_list

[['Data Engineer', 23, 'Eskişehir'],
 ['Data Engineer', 24, 'İstanbul'],
 ['Data Engineer', 26, 'Eskişehir'],
 ['Data Engineer', 23, 'Eskişehir'],
 'Data Scientist']

In [177]:
"Büşra" in komtas

False

In [178]:
"Sibel" in komtas

True

In [179]:
if "Mutlu" in komtas:
    print(komtas["Mutlu"])

['Data Engineer', 24, 'İstanbul']

#### If we want to delete all items in dictionary, we can use clear() method.

In [183]:
dict = {"key1":1,"key2":2}

In [184]:
dict

{'key1': 1, 'key2': 2}

In [185]:
dict.clear()

In [186]:
dict

{}

### An example from Lab

Create a dictionary

In [180]:
albums = ["The Bodyguard","Back in Black","Thriller"]
sales = [50,50,65]
album_sales_dict = dict(zip(albums,sales))
album_sales_dict

{'The Bodyguard': 50, 'Back in Black': 50, 'Thriller': 65}

Find the total sales using dictionary

In [181]:
sum(album_sales_dict.values())

165